* {
    box-sizing: border-box;
}
/* body {
    background-color: #eaeaea;
} */
.header {
    background-color: #1b5e20;
    padding: 2rem;
}
main {
    font-family: 'Roboto', sans-serif;;
    margin: auto;
    width: 60%;
    background-color: white;
}
section {
    margin: 2rem;
}
.note {
    font-size: small;
    background-color: #f0f0f0;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
}
.logoUE img{
    margin-top: 2rem;
    width: 100%;
    /* display: block;
    margin-left: auto;
    margin-right: auto      */
}